body {
    color:#111111;
}
.pagination  li > a {
    color: #151515;
}
.admin-comment-box {
    background: #ffffff;

    position: relative;
    width: 100%;
    margin: 0 10px 0 10px;
    padding: 15px;

}
.table-img {
    width:100px;
    height: auto;
}