body{
    background: url('../img/login/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-nav{
    width: 40px;
    height: 40px;
    margin-top: 6px;
}
.profile-img-nav {
    position: absolute;
    display: block;
    z-index: 10;
    height: auto;
    border-radius: 50%;
    border:10px solid #151515;
    overflow: hidden;
    margrin-right: 10px;
}
.epic {
    color: purple !important;
}
.rare{
    color: #0070de !important;
}
.death-knight {
     color:#C41F3B;
 }
.druid {
    color: #FF7D0A;
}
.hunter{
    color: #ABD473;
}
.warlock{
    color: #9482C9;
}
.mage {
    color:#69CCF0;
}
.paladin{
    color: #F58CBA;
}
.shaman {
    color: #0070de;
}
.warrior{
    color: #C79C6E;
}
.priest {
    color:#fff;
}
.monk {
    color: #00FF96;
}
.rogue{
    color:#FFF569;
}
.wrapper-container{
    position: relative;
    width: 100%;
    background: #111111;
    padding: 20px;
    border-color: #111111;
    -webkit-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}
.dark-sh-well {
    background: #111111;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-top: 10px;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.dark-sh-well-no-radius {
    background: #151515;
    margin-bottom: 20px;
    border-radius: none;
    padding: 10px;
    -webkit-box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

.dark-sh-well-no-radius-img {
    background: #151515;
    margin-bottom: 20px;
    border-radius: none;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

.divider-invisible {
    border: none;
}
.border-img {
    border: 2px solid #000000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.nav-pills li > a:hover{
    background: #111111;
}
.nav-pills > li.active > a {
    background: #111111;
}
.nav-pills > li.active > a:hover {
    background: #111111;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.dropdown-menu {
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}
.navbar-inverse {
    -webkit-box-shadow: 0 0 7px #000;
    -moz-box-shadow: 0 0 7px #000;
    box-shadow: 0 0 7px #000;
}
.thumbnail-mini
{
    width: 35px;
    height: 35px;
    margin-right:10px;
}
.raid-username-table
{
    margin-top: 15px;
}
.raid-title-with-desc
{
    border-radius: 4px;
    padding: 10px;

    border: 2px solid #000000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.profile-img-avatar
{
    border: 2px solid #000000;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
table > th,
table > td
{
    border: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    border:none;
}
.table > tbody + tbody
{
    border:none;
}
.raid-timer-link > .dark-sh-well-no-radius:active,
.raid-timer-link > .dark-sh-well-no-radius:hover,
.raid-timer-link > .dark-sh-well-no-radius:focus
{
    -moz-box-shadow: 0 0 3px #3498db;
    -webkit-box-shadow: 0 0 3px #3498db;
    box-shadow: 0 0 3px #3498db;
}
.text-white
{
    color:#fff;
}
.panel > .panel-body {
    background-color:none;
}
.panel > .panel-heading{
    background: #151515;
    border: none;
    color:#fff;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.panel-default > .panel-heading +.panel-collapse > .panel-body {
    border-top:none;
    border-top-color:none;
}
.panel-default{
    background: #111111;
    border: none;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
select {
    color: #3498db;
}
.group-title {
    background: #151515;
    border: none;
    color:#fff;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.modal-content {
    background-color: #151515;
}
.modal-header {
    border-bottom: 1px solid #111111;
}
.modal-footer {
    border-top: 1px solid #111111;
}
.profile-name{
    text-shadow: 2px 1px 5px #151515;
}

.profile-top{
    margin-top: 20px;
}
.breadcrumb {
    background: #151515;
}
.navbar-inverse .navbar-form .form-control
{
    background: #fff;
}
.ui-autocomplete {
    z-index:10001;
    background: #151515;
    border: none;
    border-radius: 3px;
    color:#fff;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.ui-menu-item.ui-state-focus {
    border: none;
    background: #3498DB;
    font-weight: bold;
    color: #fff;
}
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
.today > div {
    color: #2ecc71;
}

.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    left: -10px;
}
.table-responsive {
    overflow: inherit;
}
.text-success {
    color: #00bc8c;
}
.text-warning {
    color: #F39C12;
}
.text-danger {
    color: #E74C3C;
}
.text-info {
    color: #3498DB;
}
.blue {
    color:#3498DB;
}
.margin-bot-img{
    margin-bottom: 15px;
}
a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
h1 small,
h2 small,
h3 small,
h4,small
h5 small,
h6 small {
    color: #fff;
}
#Container .mix{
    display: none;
}
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}
.list-margin {
    margin-top: 5px;
}